*{
    margin: 0;
    padding: 0;
    
}

.container{
    height:100vh;
    width:100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    height: 90vmin;
    width: 92vmin;
    background: linear-gradient(rgb(170,236,170),rgb(236, 236, 167));
    display: grid;
   grid-template-columns: repeat(18,1fr);
   
   grid-template-rows: repeat(18,1fr);
   border: 2px solid black;
   margin-left: -171px;
  
}
.head{
    border:2px solid silver;
    background:linear-gradient(orange,white);
        border-radius: 12px;
        transform: scale(1.02);

}

.snake{
    border:2px solid silver;
    background:linear-gradient(red, yellow);
        border-radius: 9px;
        
}
    



.food{
    
    background:linear-gradient(red,purple);
    border: 2px solid black;
    border-radius: 12px;

}
#scorebox{
    position: absolute;
    top:39px;
    right: 160px;
    font-size:39px;
    font-weight: bold;
    
font-family: 'New Tegomin', serif;
}
#highscorebox{
    position: absolute;
    font-weight: bold;
    top:120px;
    right: 160px;
    font-size:39px;
    font-family: 'Raleway', 'sans-serif';

}